* {
    margin: 0;
    padding: 0;
}

$pine-tree: hsla(100, 18%, 13%, 1);
$blue-sapphire: hsla(195, 67%, 30%, 1);
$verdigris: hsla(180, 63%, 42%, 1);
$orange-yellow-crayola: hsla(47, 87%, 66%, 1);
$sandy-brown: hsla(28, 83%, 61%, 1);
$red-orange-color-wheel: hsla(14, 92%, 54%, 1);
$honey-yellow: hsla(42, 100%, 50%, 1);
header {
    width: 100%;
    background-color: $pine-tree;
    height: 500px;
    .encabezado {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        h1 {
            width: 30%;
            font-size: 5em;
            text-align: center;
            padding: 2%;
            a {
                width: 100%;
                font-family: 'Lora', serif;
                color: $honey-yellow;
                text-decoration: none;
            }
        }
        .ul_productos {
            width: 50%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-evenly;
            list-style: none;
            color: $honey-yellow;
            li {
                border: 1px solid transparent;
                text-transform: uppercase;
                width: 100%;
                text-align: center;
                padding: 1%;
                font-weight: bold;
                font-style: italic;
                a {
                    text-decoration: none;
                    color: $honey-yellow;
                }
                 :visited {
                    text-decoration: none;
                    color: $honey-yellow;
                }
            }
             :hover {
                border-bottom: 1px solid $honey-yellow;
            }
            a:hover {
                border-bottom: none;
            }
        }
        .informacion {
            height: 100%;
            width: 20%;
            ul {
                width: 100%;
                list-style: none;
                text-align: center;
                li {
                    width: 100%;
                }
                .fab {
                    margin-right: 10px;
                }
                a {
                    width: 100%;
                    text-align: center;
                    text-decoration: none;
                    color: $honey-yellow;
                    cursor: pointer;
                }
                 :visited {
                    color: $honey-yellow
                }
            }
        }
    }
    .contenedor_carousel {
        margin: auto;
        width: 50%;
        .carousel {
            width: 45%;
            margin: auto;
            padding: 1%;
            margin-bottom: 2%;
            margin-top: 2%;
            .foto {
                width: 400px;
                height: 275px;
            }
            .carousel-item {
                p,
                h5 {
                    font-family: 'Birthstone', cursive;
                    color: $honey-yellow;
                    font-weight: bold;
                    text-transform: uppercase;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}

main {
    height: calcu(100vh -560px);
    .distribucion {
        background-color: $sandy-brown;
        height: 30vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .dis-img_span {
            width: 100%;
            text-align: center;
            font-size: 1.5em;
            padding-left: 12%;
            p {
                display: inline;
                color: white;
                margin-left: 1%;
            }
        }
    }
    .slogan {
        height: 30vh;
        padding: 2%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $honey-yellow;
        width: 100%;
        img {
            border-radius: 250px;
            width: 10%;
            height: 90%;
        }
        p {
            color: white;
            width: 30%;
            text-align: justify;
            margin-top: 1%;
            margin-left: 2%;
        }
    }
    .ult_section {
        width: 100%;
        color: $honey-yellow;
        background-color: $pine-tree;
        padding: 2%;
        display: flex;
        flex-direction: row;
        .metodosPagos {
            text-align: center;
            border-right: 1px solid $honey-yellow;
            width: 50%;
            text-transform: uppercase;
        }
        .envios {
            text-align: center;
            width: 50%;
            border-right: 1px solid $honey-yellow;
            .h3_mq {
                display: none;
            }
        }
        .contacto {
            width: 50%;
            ul {
                width: 100%;
                li {
                    margin: auto;
                    width: 50%;
                    list-style: none;
                    text-decoration: none;
                    font-size: 1.5em;
                    i {
                        margin-right: 2%;
                    }
                    a {
                        color: $honey-yellow;
                        text-decoration: none;
                         :visited {
                            text-decoration: none;
                            color: $honey-yellow;
                        }
                    }
                }
            }
        }
    }
}

footer {
    height: 60px;
    border-top: 1px solid $honey-yellow;
    color: $honey-yellow;
    background-color: $pine-tree;
    padding: 1%;
    text-align: center;
}


/*--------------------------DESAYUNOS---------------------------*/

.header_desayuno {
    height: 175px;
    .encabezado {
        height: 100%;
        .informacion {
            display: flex;
            align-items: center;
        }
    }
}

.main_desayunos {
    width: 100%;
    height: calc(100vh - 235px);
    background-color: $sandy-brown;
    h2 {
        padding: 1%;
        width: 100%;
        font-style: italic;
        text-align: center;
        color: $pine-tree;
        background-color: $honey-yellow;
        border: 1px solid $pine-tree;
    }
    .desayunos {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 3%;
        .card {
            color: $honey-yellow;
            background-color: $pine-tree;
            border: 1px solid $pine-tree;
            width: 20rem;
            h5 {
                font-size: 1em;
                font-style: italic;
            }
            img {
                height: 275px;
            }
            .btn {
                text-align: center;
                background-color: $honey-yellow;
                color: $pine-tree;
                border: none;
                width: 100%;
            }
        }
    }
}

.ventana_desayuno {
    display: none;
    position: fixed;
    top: 0px;
    border: 1px solid $pine-tree;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1%;
    width: 100%;
    height: 100%;
    .conteiner_img_ingredientes {
        color: $honey-yellow;
        z-index: 5;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 80%;
        background-color: $pine-tree;
        margin: auto;
        border-radius: 10px;
        border: 1px solid $pine-tree;
        h2 {
            border-radius: 10px;
            text-align: center;
            width: 100%;
            margin-bottom: 2%;
            font-size: 3em;
            background-color: $honey-yellow;
            color: $pine-tree;
            padding: 2%;
            text-transform: uppercase;
        }
        .contenedor_imagen {
            padding: 2%;
            width: 50%;
            display: flex;
            flex-direction: row;
            h3 {
                margin: auto;
                width: 30%;
                text-align: center;
                font-size: 2.5em;
            }
            img {
                width: 50%;
                border: 1px solid $honey-yellow;
            }
        }
        .contenedor_ingredientes {
            padding: 2%;
            width: 50%;
            ul {
                margin-left: 3%;
            }
        }
        .btn_cerrar {
            width: 15%;
            margin: auto;
            margin-bottom: 1%;
            margin-top: 1%;
            background-color: $honey-yellow;
            color: $pine-tree;
            border: none;
            border-radius: 10px;
            font-weight: bold;
        }
    }
}

@media(max-width:1024px) {
    header {
        .encabezado {
            h1 {
                height: 50%;
                font-size: 3em;
                width: 100%;
                text-align: center;
                padding: 1%;
            }
            .ul_productos {
                width: 100%;
                font-size: 1em;
                li {
                    padding: 2%;
                }
            }
            .informacion {
                display: none;
            }
            .contenedor_carousel {
                display: none;
            }
        }
    }
    main {
        .distribucion {
            .dis-img_span {
                width: 100%;
                font-size: 25px;
                padding: 0px;
                img {
                    width: 15%;
                }
                p {
                    display: block;
                    color: white;
                    margin-top: 50px;
                }
            }
        }
        .slogan {
            padding: 2%;
            img {
                width: 35%;
            }
            p {
                font-size: 1.5em;
                color: white;
                width: 63%;
                text-align: justify;
                margin-left: 2%;
            }
        }
        .ult_section {
            padding: 3%;
            font-size: 1.5em;
            h3 {
                font-size: 2em;
            }
            .metodosPagos {
                width: 33%;
                text-align: center;
                padding: 1%;
                img {
                    width: 80%;
                    height: 30%;
                }
            }
            .envios {
                text-align: center;
                width: 40%;
                padding: 1%;
                .h3_mq_1920 {
                    display: none;
                }
                .h3_mq {
                    display: block;
                    margin-bottom: 17%;
                }
            }
            .contacto {
                padding: 1%;
                width: 30%;
                ul {
                    width: 100%;
                    padding: 0px;
                    li {
                        width: 100%;
                        font-size: 1em;
                        margin-bottom: 5%;
                        text-align: center;
                        i {
                            margin-right: 3%;
                            margin-left: 3%;
                        }
                    }
                }
            }
        }
    }
    /*----------------------------------DESAYUNOS--------------------*/
    .header_desayuno {
        height: 178px;
        .encabezado {
            .informacion {
                display: block;
            }
        }
    }
    .main_desayunos {
        height: calc(100vh - 185px);
        .desayunos {
            justify-content: space-around;
            .card {
                margin-left: 2%;
                margin-bottom: 2%;
            }
        }
    }
    .ventana_desayuno {
        .conteiner_img_ingredientes {
            width: 100%;
            .contenedor_imagen {
                img {
                    width: 60%;
                    margin-left: 5%;
                }
            }
            .contenedor_ingredientes {
                font-size: 1.3em;
            }
        }
        input {
            padding: 2%;
        }
    }
    /*-----------------------------------------------------------------*/
    footer {
        height: 7vh;
        font-size: 2em;
        padding: 2%;
    }
}

@media(max-width:414px) {
    header {
        .encabezado {
            h1 {
                font-size: 3em;
                width: 100%;
                text-align: center;
                padding: 2%;
            }
            .ul_productos {
                width: 100%;
                font-size: 13px;
                li {
                    padding: 2%;
                }
            }
            .informacion {
                display: none;
            }
            .contenedor_carousel {
                display: none;
            }
        }
    }
    main {
        .distribucion {
            .dis-img_span {
                width: 100%;
                font-size: 20px;
                padding: 0px;
                img {
                    width: 15%;
                }
                p {
                    display: block;
                    color: white;
                    margin-top: 20px;
                }
            }
        }
        .slogan {
            img {
                width: 55%;
            }
            p {
                color: white;
                width: 43%;
                text-align: justify;
                font-size: 11px;
                margin-left: 10px;
            }
        }
        .ult_section {
            padding: 3%;
            font-size: 10px;
            h3 {
                font-size: 1.1em;
                font-style: italic;
            }
            .metodosPagos {
                width: 33%;
                text-align: center;
                padding: 1%;
                img {
                    width: 80%;
                    height: 30%;
                }
            }
            .envios {
                text-align: center;
                width: 40%;
                padding: 1%;
                .h3_mq_1920 {
                    display: none;
                }
                .h3_mq {
                    display: block;
                    margin-bottom: 5%;
                }
            }
            .contacto {
                width: 33%;
                padding: 0px;
                ul {
                    width: 100%;
                    li {
                        width: 100%;
                        font-size: 12px;
                        margin-bottom: 5%;
                        text-align: center;
                        i {
                            margin-right: 3%;
                            margin-left: 3%;
                        }
                    }
                }
            }
        }
    }
    /*-----------------------------------------------------DESAYUNO-------------------------------------------------*/
    .header_desayuno {
        .encabezado {
            .informacion {
                display: none;
            }
        }
    }
    .main_desayunos {
        height: 100%;
        .desayunos {}
    }
    .ventana_desayuno {
        padding: 0px;
        .conteiner_img_ingredientes {
            padding: 0px;
            width: 100%;
            h2 {
                font-size: 1.5em;
            }
            .contenedor_imagen {
                flex-wrap: wrap;
                h3 {
                    width: 100%;
                }
                img {
                    margin-left: 0px;
                    width: 100%;
                }
            }
            .contenedor_ingredientes {
                font-size: 12px;
            }
            .btn_cerrar {
                width: 50%;
            }
        }
    }
    /*----------------------------------------------------*/
    footer {
        font-size: 1em;
        padding: 5%;
    }
}

@media(max-width:375px) {
    header {
        width: 100%;
        .encabezado {
            h1 {
                font-size: 1.5em;
                width: 100%;
                text-align: center;
            }
            .ul_productos {
                width: 100%;
                font-size: 10px;
                align-items: center;
                justify-content: start;
                padding: 0px;
                li {
                    padding: 0px;
                }
            }
            .informacion {
                display: none;
            }
            .contenedor_carousel {
                display: none;
            }
        }
    }
    main {
        .distribucion {
            .dis-img_span {
                width: 100%;
                font-size: 10px;
                padding: 0px;
                p {
                    display: block;
                    color: white;
                    margin-top: 10px;
                }
            }
        }
        .slogan {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            background-color: $honey-yellow;
            img {
                width: 55%;
            }
            p {
                font-size: 10px;
                color: white;
                width: 43%;
                text-align: justify;
                margin-left: 2%;
            }
        }
        .ult_section {
            width: 100%;
            color: $honey-yellow;
            background-color: $pine-tree;
            padding: 0%;
            display: flex;
            flex-direction: row;
            font-size: 13px;
            .metodosPagos {
                width: 33%;
                text-align: center;
                padding: 1%;
                img {
                    width: 100%;
                    height: 20%;
                }
            }
            .envios {
                text-align: center;
                width: 40%;
                padding: 1%;
                .h3_mq_1920 {
                    display: none;
                }
                .h3_mq {
                    display: block;
                    margin-bottom: 27%;
                }
            }
            .contacto {
                padding: 1%;
                width: 30%;
                ul {
                    width: 100%;
                    padding: 0px;
                    li {
                        width: 100%;
                        font-size: 10px;
                        margin-bottom: 5%;
                        text-align: center;
                        i {
                            margin-right: 3%;
                            margin-left: 3%;
                        }
                    }
                }
            }
        }
    }
    footer {
        font-size: 13px;
        padding: 5%;
    }
}

@media(max-width:360px) {
    header {
        width: 100%;
        .encabezado {
            h1 {
                font-size: 1.5em;
                width: 100%;
                text-align: center;
            }
            .ul_productos {
                width: 100%;
                font-size: 10px;
                align-items: center;
                justify-content: start;
                padding: 0px;
                li {
                    padding: 0px;
                }
            }
            .informacion {
                display: none;
            }
            .contenedor_carousel {
                display: none;
            }
        }
    }
    main {
        .distribucion {
            .dis-img_span {
                width: 100%;
                font-size: 10px;
                padding: 0px;
                p {
                    display: block;
                    color: white;
                    margin-top: 10px;
                }
            }
        }
        .slogan {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            background-color: $honey-yellow;
            img {
                width: 50%;
            }
            p {
                font-size: 10px;
                color: white;
                width: 48%;
                text-align: justify;
                margin-left: 2%;
                margin-bottom: 0px;
            }
        }
        .ult_section {
            width: 100%;
            color: $honey-yellow;
            background-color: $pine-tree;
            padding: 0%;
            display: flex;
            flex-direction: row;
            font-size: 13px;
            .metodosPagos {
                width: 33%;
                text-align: center;
                padding: 1%;
                img {
                    width: 100%;
                    height: 20%;
                }
            }
            .envios {
                text-align: center;
                width: 40%;
                padding: 1%;
                .h3_mq_1920 {
                    display: none;
                }
                .h3_mq {
                    display: block;
                    margin-bottom: 27%;
                }
            }
            .contacto {
                padding: 1%;
                width: 30%;
                ul {
                    width: 100%;
                    padding: 0px;
                    li {
                        width: 100%;
                        font-size: 10px;
                        margin-bottom: 5%;
                        text-align: center;
                        i {
                            margin-right: 3%;
                            margin-left: 3%;
                        }
                    }
                }
            }
        }
    }
    footer {
        font-size: 13px;
    }
}